body{
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6{
font-family: "interstate-condensed",sans-serif;
font-weight: 700;
font-style: normal;

}

.jumbotron{
  background-color: #f2edd7ff;

}

/* carousel */
/* .carousel-inner{
  margin: 35px 0;
} */


@media only screen and (min-width: 1000px){
  .row{
    margin: 7% 20%;
  }
  .carousel-buttons-1{
    outline: black;

  }

/* youtube video  */
.youtube-embeded{
  margin:35px 0;
  width: 483;
  height:300
}



/* .grid-images */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


.iframe-container{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.iframe-container iframe{
  position: absolute;
  top: 0;
  Left: 0;
  width: 100%;
  height: 60%;
}
